.main-tableExpenses {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 3px;
  text-align: center;
  width: 100%;
}

body .main-tableExpenses {
  color: #38ada9;
  justify-content: center;
}

.main-table {
  width: 99.5%;
}

.main-tr {
  background-color: #ffeaa7;
  text-align: center;
}

.main-td {
  background-color: #dfe6e9;
  color: #e17055;
  font-size: 13px;
  height: 20px;
}

.celulasCollumns {
  border: 0.5px solid #38ada9;
}

.celulasRow {
  border: 0.5px solid #38ada9;
  background-color: #dfe6e9;
}

/* .celulasRow :nth-last-child(1) {
  align-items: center; 
  background-color: yellow;
  border: 0;
  display: flex;
  justify-content: space-between;
} */

.container-buttons {
  align-items: center; 
  border: 0.5px solid #38ada9;
  display: flex;
  justify-content: center;
}

.main-buttonEdit {
  background-color: transparent;
  margin-left: 5px;
  border: 0;
}

.icon-edit {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #636e72;
  height: 1.3rem;
  width: 100%;
  cursor: pointer;
}

.main-buttonDelete {
  background-color: transparent;
  margin-left: 5px;
  border: 0;
}

.icon-trash {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #d63031;
  height: 1.3rem;
  width: 100%;
  cursor: pointer;
}
